@import "../../theme/template";
.cart {
  @extend .flex-start-column;
  width: 19.5rem;
  padding: 0.25rem;

  .cart__btn {
    @extend .flex-between;
    margin-bottom: 10px;
    width: 100%;

    .cart__btn__col {
      width: 100%;
      margin-top: 1.25rem;
      .cart__btn__col__right {
        color: white;
        font-weight: 700;
        cursor: pointer;
        @extend .flex-center;
        padding: 0.5rem 1rem;
        background-color: rgb(234, 63, 108);
        font-size: 0.75rem;
        border: 1px solid rgb(234, 63, 108);
      }
      .cart__btn__col__left {
        color: rgb(30, 30, 30);
        font-weight: 700;

        cursor: pointer;
        @extend .flex-center;
        padding: 0.5rem 1rem;
        font-size: 0.75rem;
        border: 1px solid rgb(30, 30, 30);
      }
    }
  }
  .cart__total {
    @extend .flex-between;
    width: 100%;
    div {
      color: black;
      font-weight: 700;
      font-size: 1rem;
    }
  }
  .cart-discount {
    @extend .flex-center;
    width: 100%;
    margin: 2.5rem;
    padding: 1rem 2.5rem;
    background-color: rgb(227, 99, 93);
    .cart-discount__text {
      color: white;

      font-size: 0.65rem;
    }
    .cart-discount__icon {
      font-size: 1.75rem;
      color: white;
      margin-right: 0.75rem;
      font-weight: 700;
    }
  }
  .cart-remove {
    @extend .flex-between;
    width: 100%;
    .cart-remove__left {
      width: 100%;
      margin-top: 1.25rem;

      .cart-remove__left__text {
        display: inline;
        float: right;
        color: black;
        cursor: pointer;
        font-weight: 600;
        font-size: 0.75rem;
      }
      .cart-remove__left__main {
        @extend .flex-start;
        width: 100%;
        .cart-remove__left__main__select {
          width: 3.25rem;
        }
        div {
          font-size: 0.75rem;
          color: black;

          margin-right: 0.5rem;
        }
      }
    }
  }

  .cart-wrapper {
    max-height: 350px;
    overflow-y: auto;
  }

  .cart-product__wrap {
    margin-bottom: 10px;
  }

  .cart__product {
    @extend .flex-between;
    width: 100%;
    .cart__product__col {
      width: 100%;

      .cart__product__col__right {
        @extend .flex-start-column;
        width: 100%;

        .cart__product__col__right__money {
          @extend .flex-start;
          color: black;
          width: 100%;
          font-size: 0.75rem;
        }
        .cart__product__col__right__name {
          @extend .flex-start-column;
          width: 100%;

          .cart__product__col__right__name__des {
            color: black;
            margin-bottom: 0.25rem;
            line-height: 1.5rem;
            font-size: 0.75rem;
          }
          .cart__product__col__right__name__title {
            color: black;
            margin-bottom: 0.25rem;
            font-weight: 700;
            font-size: 0.75rem;
          }
          div {
            @extend .flex-start;
            width: 100%;
          }
        }
      }
      .cart__product__col__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .cart__quantity {
    @extend .flex-start;
    width: 100%;
    color: black;
    font-weight: 700;
    font-size: 0.75rem;
    margin: 1.25rem 0;
    text-decoration: underline;
  }
  .cart-confirm {
    @extend .flex-start;
    width: 100%;
    .cart-confirm__main {
      font-weight: 700;
      margin-left: 0.5rem;
      color: black;
      font-size: 0.75rem;
    }
    .cart-confirm__icon {
      @extend .flex-center;
      width: 1.25rem;
      height: 1.25rem;
      color: white;
      font-weight: 700;
      border-radius: 50%;
      background-color: rgb(127, 202, 114);
    }
  }
}

.user-icon {
  width: 1.25rem;
  height: 1.25rem;
  object-fit: "contain";
}

.divider {
  padding: 0;
  margin: 0.25rem 0rem 0.75rem !important;
}

.menu {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 100%;
  display: flex;
  padding: 1rem;
  background: white;
  padding: 1.5rem 40px !important;

  .menu-right {
    flex-grow: 1;
  }

  .menu-image {
    width: 170px;
    margin-right: 10px;
  }

  .menu__img__left {
    width: 100%;
    @extend .flex-center-column;
    height: 100%;

    .menu__img__left-btn {
      color: black;
      font-weight: 700;
      margin-top: 1rem;
      text-decoration: underline;
      font-size: 0.75rem;
      @extend .flex-center;
      width: 100%;
    }
    .menu__img__left__content {
      position: relative;
      @extend .flex-center-column;
      width: 100%;
      .menu__img__left__content-top {
        margin-bottom: 6rem;
        width: 100%;

        font-weight: 700;
        @extend .flex-center;
        color: white;
        font-size: 0.75rem;
      }
      .menu__img__left__content-center {
        margin: 2.5rem 0;
        text-align: center;
        width: 7.5rem;
        padding: 0.375rem 0rem;
        @extend .flex-center;
        border: 2px solid white;
        color: white;
        font-size: 1rem;
        font-weight: 700;
      }
      .menu__img__left__content-bottom {
        margin-bottom: 0.75rem;
        width: 100%;
        @extend .flex-center;
        color: white;
        font-size: 0.75rem;
      }
      div {
        position: absolute;
        @extend .flex-center;
        width: 100%;
        bottom: 0;
      }
      .menu__img__left__content__parent {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .menu__parent {
    width: 100%;
    .menu__nothing {
      text-align: center;
    }

    .menu__parent__item {
      width: 100%;
      text-align: left;
      margin-bottom: 0.5rem;
      font-size: 14px;

      div {
        margin-bottom: 0.5rem;
        padding-left: 1.5rem;

        @extend .flex-start;
        color: black;
        font-size: 0.75rem;
        width: 100%;
        &:hover {
          background-color: rgb(226, 206, 206);
        }
      }
    }
    .menu__parent__title {
      font-size: 1rem;
      margin-bottom: 0.5rem;
      color: black;
      font-weight: 700;
      @extend .flex-start;
      width: 100%;
    }
  }
}

.cart-empty {
  padding: 20px;
  font-weight: 600;
}

.header {
  @extend .flex-center-column;
  width: 100%;
  .header__bottom-center {
    width: 100%;
    @extend .flex-center;
    border-bottom: 1px solid grey;
    .header__bottom__col-center {
      width: 100%;
      @extend .flex-center;
      .header__menu-center {
        @extend .flex-between;
        width: 100%;
        // border-bottom: 3px solid black;
        .header__menu__right-center {
          @extend .flex-end;
          border: 1px solid rgb(233, 222, 222);
          border-radius: 2rem;
          padding: 0 1rem;
          .header__menu__right__icon-center {
            margin-bottom: 0.25rem;
            margin-left: 0.25rem;
          }
          .header__menu__right__input-center {
            border: none;
            padding: 0.5rem 0.25rem;
            width: 100%;
            @extend .flex-end;
            // &:focus {
            //   border: none;
            // }
          }
          div {
            font-size: 1rem;
          }
        }
        .header__menu__left-center {
          @extend .flex-start;

          // height: 1rem;
          padding-top: 1.5rem;
          .header__menu__left__items__active-center {
            color: black;
            cursor: pointer;
            display: flex;
            justify-content: center;
            padding-bottom: 1rem;
            align-content: center;
            font-weight: 500;
            z-index: 999 !important;
            margin-right: 1.25rem;
            border-bottom: 4px solid #ff246a;
          }
          .header__menu__left__items-center {
            color: black;
            cursor: pointer;
            display: flex;
            justify-content: center;
            padding-bottom: 1.25rem;
            align-content: center;
            font-weight: 500;
            z-index: 999 !important;
            margin-right: 1.25rem;
          }
        }
      }
    }
  }
  .header__title-center {
    width: 100%;
    background-color: rgb(246, 248, 250);
    @extend .flex-center;
    .header-center {
      width: 100%;
      @extend .flex-center;
      .header__title {
        @extend .flex-between;
        width: 100%;
        .header__title__left-width {
          width: 100%;
          @extend .flex-start;
          .header__title__right-width {
            @extend .flex-end;
            width: 100%;
            .header__title__right__img-width {
              width: 1.5rem;
              height: 1.5rem;
              object-fit: contain;
            }
            div {
              font-weight: 800;
              cursor: pointer;
              color: black;
              font-size: 1.25rem;
              margin-right: 1.25rem;
            }
          }
          .header__title__center-width {
            font-size: 2.5rem;
            font-weight: 550;
            cursor: pointer;
            .header__title__center__chic-width {
              color: rgb(234, 63, 108);
            }
          }
          .header__title__sex__active-width {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1.5rem 1.5rem;
            cursor: pointer;
            font-size: 1rem;
            font-weight: 900;
            color: black;
            background-color: white;
          }

          .header__title__sex-width {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1.5rem 1.5rem;
            cursor: pointer;
            font-size: 1rem;
            font-weight: 900;
            color: black;
            &:hover {
              background-color: white;
            }
          }
        }
        .header__title-width {
          width: 100%;
          @extend .flex-center;
          .header__title__right-width {
            @extend .flex-end;
            width: 100%;
            .header__title__right__img-width {
              width: 1.5rem;
              height: 1.5rem;
              object-fit: contain;
            }
            div {
              font-weight: 800;
              cursor: pointer;
              color: black;
              font-size: 1.25rem;
              margin-left: 1.25rem;
            }
          }
          .header__title__center-width {
            font-size: 2.5rem;
            cursor: pointer;
            font-weight: 550;
            .header__title__center__chic-width {
              color: rgb(234, 63, 108);
            }
          }
          .header__title__sex__active-width {
            padding: 1.5rem 1.5rem;
            cursor: pointer;
            font-size: 1rem;
            font-weight: 900;
            color: black;
            background-color: white;
          }
          .header__title__sex-width {
            padding: 1.5rem 1.5rem;
            cursor: pointer;
            font-size: 1rem;
            font-weight: 900;
            color: black;
            &:hover {
              background-color: white;
            }
          }
        }
      }
      .header__top {
        padding: 0.5rem 1rem;
        background-color: rgb(251, 244, 234);
        @extend .flex-center;
        font-weight: 600;
        color: rgb(192, 158, 127);
        width: 100vw;
        .header__top-b {
          font-size: 1rem;
          margin: 0 0.25rem;
          color: rgb(151, 122, 96);
        }
      }
    }
  }
  .header-center {
    width: 100%;
    .header__title {
      @extend .flex-between;
      width: 100%;
      .header__title-width {
        width: 100%;
        @extend .flex-start;
      }
    }
    .header__top {
      padding: 0.5rem 1rem;
      background-color: rgb(251, 244, 234);
      @extend .flex-center;
      font-weight: 600;
      color: rgb(192, 158, 127);
      width: 100%;
      .header__top-b {
        font-size: 1rem;
        margin: 0 0.25rem;
        color: rgb(151, 122, 96);
      }
      div {
        display: flex;
        justify-content: flex-start;
        align-content: center;
      }
    }
  }
}
input:focus {
  outline: none;
}

/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px) {
  .menu {
    padding: 1.5rem 15px !important;
  }

  .menu-image {
    width: 140px !important;
  }

  .menu__parent__item {
    font-size: 13px !important;
  }

  .menu__parent__title {
    font-size: 14px !important;
  }
}
/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px) {
  .menu__img__left {
    margin-top: 1rem;
  }
  .header__top {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
    flex-direction: column;
    div {
      display: flex;
      justify-content: flex-start;
      align-content: center;
      width: 100%;
    }
  }
  .header__title-width {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
    div {
      display: flex;
      justify-content: flex-start;
      align-content: center;
      width: 100%;
    }
  }
  .header__title__right-width {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
    div {
      display: flex;
      justify-content: flex-start;
      align-content: center;
      width: 100%;
    }
  }
  .header__menu__left-center {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin-bottom: 2rem;
    margin-left: 1rem;
    width: 100%;
    flex-direction: column;
    div {
      display: flex;
      justify-content: flex-start;
      align-content: center;
      width: 100%;
      margin-top: 1rem;
    }
  }
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px) {
  .menu__img__left {
    margin-top: 1rem;
  }
  .header__top {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
    flex-direction: column;
    div {
      display: flex;
      justify-content: flex-start;
      align-content: center;
      width: 100%;
    }
  }
  .header__title-width {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
    div {
      display: flex;
      justify-content: flex-start;
      align-content: center;
      width: 100%;
    }
  }
  .header__title__right-width {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
    div {
      display: flex;
      justify-content: flex-start;
      align-content: center;
      width: 100%;
    }
  }
  .header__menu__left-center {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin-bottom: 2rem;
    margin-left: 1rem;
    width: 100%;
    flex-direction: column;
    div {
      display: flex;
      justify-content: flex-start;
      align-content: center;
      width: 100%;
      margin-top: 1rem;
    }
  }
}

.logout {
  p {
    margin-bottom: 0.5rem;
  }
  .email {
    font-weight: bold;
    color: #333333;
  }
  .name {
    font-weight: bold;
    color: #666666;
  }
  .account {
    color: #ff246a;
  }
  .logout {
    background-color: #ff246a;
    width: 100%;
    color: white;
  }
}

.cart-error {
  color: red;
  margin-top: 5px;
  font-size: 13px;
}

.cart-confirm__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  &-left {
    display: flex;
    justify-content: flex-start;
    align-content: center;
  }
}

.header-lv1 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  max-width: 1400px;
}

.menu-lv1 {
  display: flex;
}

/*Iphone(480 x 640)*/
@media screen and (max-width: 320px) {
}
