@import "../../../../../theme/template.scss";

.orders-table-cell {
  vertical-align: middle;
  border-bottom: 1px solid #979797;
  padding: 15px;
}

.order-completed {
  color: #808080;
}

.orders-table-thead {
  th {
    padding: 15px;
    vertical-align: middle;
    border-bottom: 1px solid #979797;
    font-weight: bold;

    &:first-child {
      padding-left: 30px;
    }

    &:last-child {
      padding-right: 30px;
    }
  }
}

tr {
  .orders-table-cell {
    &:first-child {
      padding-left: 30px;
    }

    &:last-child {
      padding-right: 30px;
    }
  }
}

.order-link {
  line-height: 36px;
  text-decoration: underline;
}

.order-item-img {
  width: 100px;
  height: 100px;
}

.order-status {
  display: flex;
  align-items: center;

  &__icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }

  &__text {
    font-weight: 500;
  }
}

.reorder-btn {
  padding: 6px 36px;
  text-transform: uppercase;
  color: white;
  background: #ff246a;
  cursor: pointer;
}

.reorder-line {
  height: 2px;
  width: 11px;
  background: black;
  margin: 0 auto;
}

.dashboard__image {
  margin: 1rem 0rem;
  img {
    height: 68px;
    width: 80px;
    object-fit: cover;
    margin-right: 0.5rem;
  }
}
