.root {
  margin-top: 6rem;
  &__title {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  &__section {
    &-title {
      font-weight: bold;
      margin: 1.5rem 0rem;
      font-size: 22px;
    }

    &-content {
      font-size: 18px;
    }
  }
}
